:root {
    --maxWidth: 2500px;
    --greyBorder: #999999;
    --darkGrey: #222222;
    --blue: hsl(235, 100%, 70%);
    --blueHover: hsl(235, 100%, 60%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.0625rem solid red; */
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.header-container,
.form-container,
form input[type='search'],
#content {
    width: 100%;
}

#search-form {
    position: relative;
}

form input[type='search'] {
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border: 0.125rem solid var(--greyBorder);
    color: var(--darkGrey);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}

form input[type='search']:focus {
    outline: none;
    color: black;
    border: 0.125rem solid var(--blue);
}

#search-btn {
    --size: 1.5rem;

    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 50%;
    right: 0px;
    cursor: pointer;

    border: none;
    outline: none;
    background-color: transparent;

    margin-top: -0.75rem;
    margin-right: 1rem;
}

#search-btn svg {
    fill: var(--blue);
}

#search-btn svg:hover {
    fill: var(--blueHover);
}

.header-container {
    text-align: center;
}

.current-weather-temp-container {
    display: flex;
    justify-content: space-between;
}

.time-container,
.days-container {
    overflow-x: scroll;
}

.time-inner-container,
.days-inner-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-width: min-content;
}

.time-inner-container > div,
.days-inner-container > div {
    border: 0.0625rem solid black;
}

#loader {
    display: none;
    width: 200px;
    height: 200px;
    border: 20px solid;
    border-color: #000 transparent;
    border-radius: 50%;
    animation: load 1s linear infinite;
}

.empty-container {
    text-align: center;
    font-weight: bold;
}

@keyframes load {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 768px) {
    .header-form-container,
    #content {
        max-width: var(--maxWidth);
    }
    
    #search-form {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: clamp(calc(var(--maxWidth) / 8), 50%, calc(var(--maxWidth) / 6));
    }

    .main-details-container {
        position: relative;
    }

    .temp-precip-wind-container {
        display: flex;
    }

    .temp-btn-container {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .current-weather-container {
        display: flex;
    }

    .current-temp {
        position: relative;
        text-align: center;
    }

    /* .weather-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
}