:root {
    --breakPoint: 768px;
    --maxWidth: 1500px;
    --padding: 20px;
    --greyBorder: #999999;
    --lightBlack: #1E222D;
    --grey: #5B627A;
    --darkGrey: #222222;
    --lightGrey: #E7E9FB;
    --backgroundHeader: rgba(247, 247, 255, 1);
    --blue: hsl(235, 100%, 70%);
    --red: #990000;
    --lightRed: #ffdddd;
    --offWhite: #F7F7FF;
    --whiteBg:  rgba(255, 255, 255, 0.9);
    --offWhiteBg: rgba(247, 247, 247, 0.9);
    --blueHover: hsl(235, 100%, 60%);
    --slowAnimationTiming: 300ms ease-in-out;
    --fastAnimationTiming: 150ms ease-in-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: var(--padding);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(1px);
}

body > div {
    position: relative;
    z-index: 1;
}

.header-form-container {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% + (var(--padding) * 2));
    background-color: var(--backgroundHeader);
    margin: calc(var(--padding) * -1) calc(var(--padding) * -1) 0 calc(var(--padding) * -1);
    padding: var(--padding);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.header-container {
    text-align: center;
    color: var(--lightBlack);
}

.header-container,
.form-container,
form input[type='search'],
#content {
    width: 100%;
}

#search-form {
    position: relative;
}

form input[type='search'] {
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border: 0.125rem solid var(--greyBorder);
    color: var(--darkGrey);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
    transition: border-color var(--fastAnimationTiming), color var(--fastAnimationTiming);
}

form input[type='search']:focus {
    outline: none;
    color: black;
    border-color: var(--blue);
}

input.invalid {
    border: 0.125rem solid var(--red);
    background-color: var(--lightRed);
}

input:focus.invalid {
    outline: none;
    /* make sure keyboard-only users see a change when focusing */
    border-style: dashed;
}

#query-error {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    text-align: center;
    color: var(--offWhite);
    background-color: var(--red);
    border-radius: 0 0 .5rem .5rem;
    box-sizing: border-box;
    padding: 1rem;
    display: none;
}

#search-btn {
    --size: 1.5rem;

    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 50%;
    right: 0px;
    cursor: pointer;

    border: none;
    outline: none;
    background-color: transparent;

    margin-top: -0.75rem;
    margin-right: 1rem;
}

#search-btn svg {
    fill: var(--blue);
    transition: fill var(--fastAnimationTiming);
}

#search-btn svg:hover {
    fill: var(--blueHover);
}

.empty-container,
.no-results {
    text-align: center;
    font-weight: bold;
}

.main-details-container {
    display: flex;
    flex-direction: column;
}

.location-container {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--lightBlack);
    width: fit-content;
}

.location-container,
.date-sunrise-container,
.current-temp-wind-precip-container,
.no-results {
    padding: 0.75rem;
    border-radius: 0.75rem;
    overflow: hidden;
}

.location-container,
.date-sunrise-container,
.current-temp-wind-precip-container,
.hour-container,
.day-container,
.no-results {
    background-color: var(--whiteBg);
}

.date-sunrise-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.date-condition-humidity-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    color: var(--grey);
    font-weight: 600;
    font-size: 1rem;
}

.temp-btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.temp-btn-container,
.location-container,
.date-sunrise-container,
.current-temp-wind-precip-container,
.time-container,
.days-container {
    margin-bottom: 1rem;
}

#celsius-btn,
#fahrenheit-btn {
    cursor: pointer;
    flex: 1;
    font-size: 1rem;
    width: max-content;
    outline: none;
    border: none;
    color: var(--lightBlack);
    background-color: var(--lightGrey);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0.75rem;
    padding: 0.5rem;
}

#celsius-btn:hover,
#fahrenheit-btn:hover {
    background-color: var(--offWhite);
}

.btn-selected {
    border: 0.125rem solid var(--blue) !important;
    color: var(--blue) !important;
    background-color: white !important;
}

.current-temp-wind-precip-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.current-temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.precip-wind-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.precip-container,
.wind-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.precip-icon,
.wind-icon {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.current-temp-container > div,
.precip-wind-container > div {
    flex: 1;
}

.weather-icon,
.precip-icon,
.wind-icon {
    display: flex;
    justify-content: center;
}

.feels-like-temp,
.precip-prob,
.wind-container,
.sunrise-sunset-container > div {
    color: var(--grey);
    font-weight: 600;
}

.current-temp {
    color: var(--lightBlack);
    font-weight: bold;
    font-size: 3rem;
}

.precip-prob,
.wind-speed-dir-container {
    font-size: 1.25rem;
}

.wind-speed-dir-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.sunrise-sunset-container {
    flex: 0 0 auto;
    text-align: right;
    font-size: 1.25rem;
}

.sunrise-sunset-container > div > strong {
    color: var(--lightBlack);
}

.time-container,
.days-container {
    overflow-x: scroll;
}

.time-inner-container,
.days-inner-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-width: min-content;
    margin-bottom: 1rem;
}

.hour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: var(--lightBlack);
}

.hour-precip,
.hour-wind-speed,
.hour-wind-dir {
    color: var(--grey);
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: var(--lightBlack);
}

.day-selected,
.day-container:hover {
    background-color: var(--offWhiteBg);   
}

.day-container:hover {
    cursor: pointer;
}

.day-temp {
    display: flex;
    gap: 1rem;
}

.day-high-temp {
    color: var(--lightBlack); 
}

.day-low-temp {
    color: var(--grey);
}

.weather-icon svg {
    --size: 100%;

    display: block;
    min-width: 50px;
    width: var(--size);
    aspect-ratio: 1/1;
}

.precip-icon svg,
.wind-icon svg {
    --size: 66.6%;

    display: block;
    width: var(--size);
    aspect-ratio: 1/1;
}

.hour-icon svg,
.day-icon svg {
    --size: 4rem;

    display: block;
    width: var(--size);
    height: var(--size);
}

#loader {
    --size: 5rem;

    display: none;
    width: var(--size);
    height: var(--size);
    border: 0.875rem solid;
    border-color: var(--blue) var(--offWhite) var(--offWhite) var(--offWhite);
    border-radius: 50%;
    animation: load 1s linear infinite;
    margin: 2.5rem;
}

@keyframes load {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 768px) {
    .header-form-container > div {
        max-width: var(--breakPoint);
        align-self: center;
    }

    #content {
        max-width: var(--maxWidth);
    }

    .location-container {
        margin-bottom: 0;
    }

    .temp-btn-location-container {
        display: flex;
        gap: 1rem;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .temp-btn-container {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        gap: 0.5rem;
        align-self: center;
        margin-bottom: 0;
    }

    #celsius-btn,
    #fahrenheit-btn {
        flex: 0;
        min-width: fit-content;
    }

    .date-sunrise-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        background-color: transparent;
        margin-bottom: 0;
    }

    .date-condition-humidity-container,
    .sunrise-sunset-container {
        background-color: var(--whiteBg);
        flex: 0 0 auto;
        width: 100%;
        padding: 0.75rem;
        border-radius: 0.75rem;
        overflow: hidden;
    }

    .date-condition-humidity-container {
        width: 100%;
    }

    .sunrise-sunset-container {
        text-align: left;
    }

    .sunrise-sunset-container {
        text-align: left;
    }

    .current-temp-wind-precip-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        flex: 1;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .current-temp-container {
        align-items: center;
        flex-wrap: nowrap;
    }

    .current-temp-container > div {
        flex: auto;
    }

    .precip-container > div,
    .wind-container > div {
        flex: auto;
    }

    .precip-container > div,
    .wind-container > div {
        text-align: left;
    }

    .precip-wind-container {
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
    }

    .precip-container,
    .wind-container {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .date-sunrise-temp-container {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .weather-icon {
        min-width: 50px;
    }

    .precip-icon,
    .wind-icon {
        min-width: 50px;
        max-width: 100px;
    }

    .weather-icon svg,
    .precip-icon svg,
    .wind-icon svg {
        --size: 100%;

        display: block;
        width: var(--size);
        height: var(--size);
    }
}